<?php


class Config
{
    
    private $conf;

    
    /**
     * Variable statique permettant de porter l'instance unique
     */
    static protected $instance;

    function __construct() {
        $this->conf["SERVER"]       = '<%= dbserver %>';
        $this->conf["DATABASE"]     = '<%= dbname %>';
        $this->conf["USER"]         = '<%= dbuser %>';
        $this->conf["PASSWORD"]     = '<%= dbpassword %>';
    }
    
    /**
     * Singleton de la classe
     */
    public static function getInstance()
    {
        if( !isset(self::$instance) )
            self::$instance = new Config();       
        return self::$instance;
    }
    
    public function get($setting) {
        return $this->conf[$setting];
    }
}

?>
