    <div class="container-fluid">
        <form name="ajout">
            <div class="row formbg">
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="row form-horizontal"  ng-init="listEnvAndPf()">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="country">Pays</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="selectedCountry" name="country" ng-change="gEnvList=getEnvList(selectedCountry);selectedEnv='all';selectedPf='all'">
                                        <option value="none" selected>Aucune sélection</option>
                                        <option value="all" selected>Tout pays</option>
                                        <option ng-repeat="c in countryList" value="{{c.name}}">{{c.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="environment">Environnement</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="selectedEnv" name="environment" ng-change="gplist=getEnvPflist(selectedEnv);selectedPf='all'"
                                            ng-disabled="selectedCountry == 'none'">
                                        <option value="all" selected>Tout environnement</option>
                                        <option ng-repeat="e in gEnvList" value="{{e.name}}">{{e.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="platform">Plateforme</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="selectedPf" name="platform" ng-disabled="selectedCountry == 'none'">
                                        <option value="all" selected="selected">Toutes</option>
                                        <option ng-repeat="p in gplist" value="{{p.name}}">{{p.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="versions" class="col-sm-6" ng-init="listversions()">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="version">Version</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control " ng-model="version" name="version" typeahead="version for version in versionsList | filter:$viewValue | limitTo:8"  ng-disabled="selectedCountry == 'none'" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="endversion">Version de fin</label>
                                <div class="col-sm-8">
                                    <input class="form-control " ng-model="endversion" name="endversion" typeahead="version for version in versionsList | filter:$viewValue | limitTo:8"  ng-disabled="selectedCountry == 'none'" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="propertieslistfield" class="control-label">Ajoutez un groupe de propriétés</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea ng-model="propertiesList" name="propertieslistfield" class="form-control" rows="5" ng-disabled="selectedCountry == 'none'"></textarea>
                        </div>
                        <div class="col-sm-offset-1 col-sm-3">
                            <button class="btn btn-block btn-primary" ng-disabled="!propertiesList" ng-click="addNewProperties()">
                                <i class="glyphicon glyphicon-plus"></i> 
                                <span class="hidden-sm">Ajouter ces propriétés.</span> 
                            </button>

                            <button class="btn btn-block" ng-disabled="!propertiesArray || ajout.$invalid" ng-click="saveProperties(propertiesArray, listversions)" ng-class="{'btn-danger': servererror, 'btn-success': !servererror}">
                                <i class="glyphicon glyphicon-save"></i> 
                                <span class="hidden-sm">Enregistrer les.</span> 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="servererror"><pre class="bg-danger">{{servererror.data}}</pre>
            </div>
            <div id="enteredprops" class="table-responsive" ng-show="propertiesArray">
                <div class="alert container-fluid" ng-class="{ 'alert-info': !propertiesArray ,'alert-danger': propertiesArray && ajout.$invalid, 'alert-success' : propertiesArray && !ajout.$invalid }" >
                    <div class="col-sm-2 " style="text-align: center">
                        <i class="glyphicon glyphicon-edit"></i>
                    </div>
                    <div class="col-sm-8">
                        <i class="glyphicon glyphicon-warning-sign" ng-show="propertiesArray && ajout.$invalid"></i>
                        <i class="glyphicon glyphicon-ok" ng-show="propertiesArray && !ajout.$invalid"></i>
                        Vérifier et completer toutes les valeurs de propriétés.
                    </div>
                </div>
                <table ng-table="enteredpropsParams" show-filter="true" class="table">
                    <tr ng-repeat="p in $data">
                        <td  class="icon-column">
                            <button type="button" class="btn btn-danger btn-danger-inv" ng-click="removePropFromList(p, propertiesArray)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                        <td class="icon-column">
                            <button type="button" class="btn btn-info btn-info-inv" ng-click="showPropInfo(p)">
                                <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                            </button>
                        </td>

                        <td data-title="'Nom'" filter="{ 'name': 'text' }">{{p.name}}</td>
                        <td data-title="'Valeur'" ng-class="invalidClass(p.value)" filter="{ 'value': 'text' }">
                            <input class="form-control" name="value{{p.tempid}}" type='text' ng-model="p.value" value="{{p.value}}" required>
                        </td>
                        <td data-title="'Description'">
                            <textarea class="form-control" rows=1 ng-model="p.description" value="{{p.description}}"></textarea>
                        </td>
                        <td data-title="'Domaine'">
                            <select class="form-control" ng-model="p.domain" name="domain" ng-init="p.domain='appli'">
                                <option ng-repeat="c in domainList" value="{{c.domaintype}}" ng-selected="c.domaintype == p.domain">{{c.domaintype}}</option>
                            </select>
                        </td>
                        <td data-title="'Pays'">
                            <select class="form-control" ng-model="p.country" name="country" ng-init="envList=getEnvList(p.country);" ng-change="envList=getEnvList(p.country); p.platform='all'; p.environment='all'">
                                <option value="all" selected>Tout pays</option>
                                <option ng-repeat="c in countryList" value="{{c.name}}" ng-selected="c.name == p.country">{{c.name}}</option>
                            </select>
                        </td>
                        <td data-title="'Environment'">
                            <select class="form-control" ng-model="p.environment" name="environment" ng-init="plist=getEnvPflist(p.environment);" ng-change="plist=getEnvPflist(p.environment); p.platform='all'">
                                <option value="all" selected>Tout environnement</option>
                                <option ng-repeat="e in envList" value="{{e.name}}" ng-selected="e.name == p.environment">{{e.name}}</option>
                            </select>
                        </td>
                        <td data-title="'Plateforme'">
                            <select class="form-control" ng-model="p.platform" name="platform">
                                <option value="all" selected="selected">Toutes</option>
                                <option ng-repeat="pf in plist" value="{{pf.name}}" ng-selected="pf.name == p.platform">{{pf.name}}</option>
                            </select>
                        </td>
                        <td data-title="'Version'" filter="{ 'version': 'text' }"  ng-class="invalidClass(p.version)">
                            <input class="form-control" name="version{{p.tempid}}" type='text' ng-model="p.version" value="{{p.version}}" typeahead="version for version in versionsList | filter:$viewValue | limitTo:8" required>
                        </td>
                        <td data-title="'Version d arret'">
                            <input class="form-control" name="endversion{{p.tempid}}" type='text' ng-model="p.endversion" value="{{p.endversion}}" typeahead="version for version in versionsList | filter:$viewValue | limitTo:8">
                        </td>
                        <td data-title="'Template'">
                            <input class="form-control" name="template{{p.id}}" type='text' ng-model="p.template" value="{{p.template}}" 
                                   typeahead="tmpl for tmpl in templateList | filter:$viewValue | limitTo:8"
                                   ng-change="getTemplateOrValue(p)"
                                   ng-selected="getTemplateOrValue(p)">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

