<div class="container-fluid">
    <form name="listproperties">
        <div class="row formbg">
            <div class="col-sm-offset-2 col-sm-8">
                <h2>View/modify the full list of properties</h2>
                <p>You can view the list of properties here and modify them.</p>
            </div>
        </div>
        <div ng-show="serverresponse.servererror" class="row">
            <pre class="bg-danger">{{serverresponse.servererror.data}}</pre>
        </div>
        <div class="row">
            <div id="propslist" class="table-responsive"
                       ng-init="listPropertyinfo(); initEnumsList()">
                <table ng-table="propslistParams" show-filter="true" class="table table-striped table-condensed table-hover table-bordered">
                    <tr ng-repeat="p in $data">
                        <td class="icon-column">
                            <button type="button" class="btn btn-info btn-info-inv " ng-click="showPropInfo(p)" 
                                    ng-hide="editedProperties[p.name]"
                                    ng-disabled="removalActivated || editionActivated">
                                <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="cancelUpdate(p)" ng-show="editedProperties[p.name]">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td class="icon-column">
                            <button type="button" class="btn btn-primary btn-primary-inv" ng-click="activateEdition(p)" 
                                    ng-hide="editedProperties[p.name]"
                                    ng-disabled="removalActivated || editionActivated">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-success" ng-click="updateProperty(p)" ng-show="editedProperties[p.name]">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </td>
                        <td data-title="'Nom'" filter="{ 'name': 'text' }">{{p.name}}</td>
                        <td data-title="'Description'">
                            <span ng-hide="editedProperties[p.name] && !removalActivated">{{p.description}}</span>
                            <textarea class="form-control" rows=1 ng-model="p.description" value="{{p.description}}" 
                                      ng-show="editedProperties[p.name] && !removalActivated"></textarea>
                        </td>
                        <td data-title="'Type'" filter="{ 'valuetype': 'text' }">
                            <span ng-hide="editedProperties[p.name] && !removalActivated">{{p.valuetype}}</span>
                            <select class="form-control" ng-model="p.valuetype" name="domain" 
                                    ng-show="editedProperties[p.name] && !removalActivated">
                               <option ng-repeat="c in valuetypeList" value="{{c.valuetype}}" 
                                       ng-selected="c.valuetype == p.valuetype">{{c.valuetype}}</option>
                            </select>
                        </td>
                        <td data-title="'Domaine'" filter="{ 'domain': 'text' }">
                            <span ng-hide="editedProperties[p.name] && !removalActivated">{{p.domain}}</span>
                            <select class="form-control" ng-model="p.domain" name="domain" 
                                    ng-show="editedProperties[p.name] && !removalActivated">
                               <option ng-repeat="c in domainList" value="{{c.domaintype}}" 
                                       ng-selected="c.domaintype == p.domain">{{c.domaintype}}</option>
                            </select>
                        </td>
                        <td class="icon-column">
                            <button type="button" class="btn btn-primary btn-danger-inv" ng-click="activateRemoval(p)" 
                                    ng-disabled="removalActivated || editionActivated">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>

