<div class="container-fluid">
    <form name="ajout">
        <div class="row formbg">
            <div class="col-sm-offset-2 col-sm-8 row form-group" >
                <div class="row form-horizontal" ng-init="listEnvAndPf()">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="country">Pays</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="selectedCountry" name="country" ng-change="gEnvList=getEnvList(selectedCountry);selectedEnv='all';selectedPf='all'">
                                    <option value="none" selected>Aucune sélection</option>
                                    <option ng-repeat="c in countryList" value="{{c.name}}">{{c.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="environment">Environnement</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="selectedEnv" name="environment" ng-change="gplist=getEnvPflist(selectedEnv);selectedPf='all'" ng-disabled="selectedCountry == 'none'">
                                    <option value="all" selected>Tout environnement</option>
                                    <option ng-repeat="e in gEnvList" value="{{e.name}}">{{e.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="versions" class="col-sm-6" ng-init="listversions()">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="platform">Plateforme</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="selectedPf" name="platform" ng-disabled="selectedCountry == 'none'">
                                    <option value="all" selected="selected">Toutes</option>
                                    <option ng-repeat="p in gplist" value="{{p.name}}">{{p.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="version">Version</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control " ng-model="version" name="version" typeahead="version for version in versionsList | filter:$viewValue | limitTo:8" ng-disabled="selectedCountry == 'none'" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <script type="text/ng-template" id="testLogsModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title">Journal du test</h3>
                        </div>
                        <div class="modal-body fixed-panel table-responsive">
                            <div >
                                <table>
                                    <tr ng-repeat="line in scriptlog">
                                        <td><xmp>{{line.header}}</xmp></td>
                                        <td><xmp ng-class="getLogLevelStyle(line.level)">{{line.level}}</xmp></td>
                                        <td><xmp>{{line.log}}</xmp></td>
                                    </tr>
                                </table>
                            </div>
                            <div ng-show="missingproperties">
                                <h3>Propriétes manquantes</h3>
                                <div><pre>{{missingproperties}}</pre></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p>Vous pouvez copier tel quel la liste de propriétés éventuellement manquantes dans le <b><a href='#/ajouter'>Formulaire d'Ajout</a></b></p>
                        </div>
                    </script>
                    <div class="col-md-4">
                        <div class="btn-group btn-group-justified"  ng-show="searchedProperties && version">
                            <div class="btn-group">
                                <div class="btn-group">
                                    <a target="_self" class="btn btn-default"
                                       href="{{ 'ipc.php?action=getPlatformPropertiesFile&comments=true&platform=' + selectedPf + '&version=' + version}}"
                                       download="{{selectedPf+ '_' + version + '.iris'}}">Télécharger</a>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" >
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1"
                                               href="{{ 'ipc.php?action=getPlatformPropertiesFile&comments=false&platform=' + selectedPf + '&version=' + version}}"
                                               download="{{selectedPf+ '_' + version + '.iris'}}">Sans la description</a>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="downloadCSV(searchedProperties, selectedPf,version)">En CSV</a>
                                        </li>
                                    </ul>
                                </div>
                                <a id="downloadDwarfLink" ng-hide=true></a>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-block" ng-click="checkmissingproperties(selectedPf,version)">Tester</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <button class="btn btn-block btn-primary" ng-disabled="selectedPf == 'all'" ng-click="searchedProperties=showProperties()" class="text-success">
                            <i class="glyphicon glyphicon-search"></i>
                            <span>Trouver les propriétes.</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div ng-show="serverresponse.servererror" class="row">
            <pre class="bg-danger">{{serverresponse.servererror.data}}</pre>
        </div>
        <div class="row">
            <div id="enteredprops" class="table-responsive" ng-show="searchedProperties">
                <table ng-table="searchpropsParams" show-filter="true" class="table table-striped table-condensed table-hover table-bordered">
                    <tr ng-repeat="p in $data">
                        <td class="icon-column">
                            <button type="button" class="btn btn-info btn-info-inv " ng-click="showPropInfo(p)" ng-hide="editedProperties[p.id]">
                                <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="cancelUpdate(p)" ng-show="editedProperties[p.id]">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td class="icon-column">
                            <button type="button" class="btn btn-primary btn-primary-inv" ng-click="activateEdition(p)" ng-hide="editedProperties[p.id]">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-success" ng-click="updateProperty(p)" ng-show="editedProperties[p.id]">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </td>
                        <td data-title="'Nom'" filter="{ 'name': 'text' }">{{p.name}}</td>
                        <td data-title="'Valeur'" ng-class="invalidClass(p.value)" filter="{ 'value': 'text' }">
                            <span ng-hide="editedProperties[p.id]">{{p.value}}</span>
                            <input class="form-control" name="value{{p.id}}" 
                                   popover-template="'pages/templates/changePropertyValueTemplate.html'"
                                   popover-title="Voulez vous appliquer la valeur à partir d'une autre version?"
                                   type='text' ng-model="p.value" value="{{p.value}}" required ng-show="editedProperties[p.id]">
                        </td>
                        <td data-title="'Description'">
                            <span ng-hide="editedProperties[p.id]">{{p.description}}</span>
                            <textarea class="form-control" rows=1 ng-model="p.description" value="{{p.description}}" ng-show="editedProperties[p.id]"></textarea>
                        </td>
                        <td data-title="'Domaine'">
                            <span ng-hide="editedProperties[p.id]">{{p.domain}}</span>
                            <select class="form-control" ng-model="p.domain" name="domain" ng-show="editedProperties[p.id]">
                               <option ng-repeat="c in domainList" value="{{c.domaintype}}" ng-selected="c.domaintype == p.domain">{{c.domaintype}}</option>
                            </select>
                        </td>
                        <td data-title="'Pays'">{{p.country}}</td>
                        <td data-title="'Environment'">{{p.environment}}</td>
                        <td data-title="'Plateforme'">{{p.platform}}</td>
                        <td data-title="'Version'" filter="{ 'version': 'text' }" ng-class="invalidClass(p.version)">
                            <span ng-hide="editedProperties[p.id]">{{p.version}}</span>
                            <input class="form-control" name="version{{p.id}}" type='text' ng-model="p.version" value="{{p.version}}" typeahead="version for version in versionsList | filter:$viewValue | limitTo:8" ng-show="editedProperties[p.id]">
                        </td>
                        <td data-title="'Version d arret'">
                            <span ng-hide="editedProperties[p.id]">{{p.version_limit}}</span>
                            <input class="form-control" name="endversion{{p.id}}" type='text' ng-model="p.version_limit" value="{{p.version_limit}}" typeahead="version for version in versionsList | filter:$viewValue | limitTo:8" ng-show="editedProperties[p.id]">
                        </td>
                        <td data-title="'Template'">
                            <span ng-hide="editedProperties[p.id]">{{p.template}}</span>
                            <input class="form-control" name="template{{p.id}}" type='text' ng-model="p.template" value="{{p.template}}" 
                                   typeahead="tmpl for tmpl in templateList | filter:$viewValue | limitTo:8"
                                   ng-change="getTemplateOrValue(p)"
                                   ng-selected="getTemplateOrValue(p)"
                                   ng-show="editedProperties[p.id]">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>

